.container{
    margin-bottom: 100px;
}
.add_task{
    text-align: center;
    padding-top: 15px;
}
.col{
    margin-left: 15px;
}
.empty{
    color: rgb(170, 162, 162);
}
#hide-open{
    display: block;
}